# Nim compiler and documentation output
build/
nimcache/
htmldocs/

# Generated test and example executables
/tests/test_terminal_style
/tests/test_palettes
/examples/terminal_style

# Other
RELEASING.md
nimble.develop
nimble.paths
nimbledeps
